nvim\/.config\/nvim\/plugged
nvim\/.config\/nvim\/spaceneovim-layers

mpd/\.config/mpd/database

*.log

mpd/\.config/mpd/log

mpd/\.config/mpd/sticker\.sql

mpd/\.config/mpd/state

mpd/\.config/mpd/pid
